.app{
  text-align: center;
}

.bac{
  background:url(https://theplanetd.com/images/Best-Views-in-New-York-City.jpg) center no-repeat ;
  height: 100vh;
 }

.text{
  margin-top: 90px;
  padding-bottom: 20px;
}

 img{
  background-color: black;
 }

.primary{
  background-color: #007fff;
  padding: 0.5rem;
  border-radius: 10px;
  color:white;
}

.chat-message{
  background-color: #f2f2f2;
  margin-left: 80px;
  margin-right: 80px;
  padding:1em;
  max-height: 450px;
  overflow-y: auto;
  border-radius: 25px;
  color:gray;
}

.message-right{
  background: #91fbff;
  border-radius: 25px;
  padding: .5em 1em !important;
  margin:1em;
}

.message-left{
  background: aliceblue;
  border-radius: 25px;
  padding: .5em 1em !important;
  margin:1em;
}

.message-text{
  font-size: 19px;
}

.message-icon{
  box-sizing: border-box;
  font-size:40px;
  margin-right: 10px;
  margin-left: 5px;
}